<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav="matSidenav" mode="push">
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/">
                <mat-icon>library_books</mat-icon>
                <span>&nbsp;Courses</span>
            </a>
            <a mat-list-item routerLink="/about">
                <mat-icon>question_answer</mat-icon>
                <span>&nbsp;About</span>
            </a>
            <a mat-list-item>
                <mat-icon>person_add</mat-icon>
                <span>&nbsp;Register</span>
            </a>
            <a mat-list-item>
                <mat-icon>account_circle</mat-icon>
                <span>&nbsp;Login</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <!-- <mat-sidenav mode="over/push/side" opened>Sidenav content</mat-sidenav> -->
    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <!-- Screens Menu -->
            <a mat-button [matMenuTriggerFor]="dropdown">
                Screens<mat-icon>arrow_right</mat-icon>
            </a>
            <mat-menu #dropdown>
                <button mat-menu-item routerLink="/">Courses</button>
                <button mat-menu-item routerLink="/about">About</button>
            </mat-menu>
            <!-- Screens Menu Ends -->
            <button mat-button>
                <mat-icon>person_add</mat-icon>
                Register
            </button>
            <button mat-button>
                <mat-icon>account_circle</mat-icon>
                Login
            </button>
        </mat-toolbar>

        <!-- Router Outlet -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>